<html>
    <body>
        <h2>HTML Forrms</h2>

        <form action="/submit" method="post">
            <label for="science">Science:</label><br>
            <input type="text" id="science" name="science" value="0"></label><br>
            <label for="maths">Maths:</label><br>
            <input type="text" id="maths" name="maths" value="0"></label><br>
            <label for="C">C:</label><br>
            <input type="text" id="C" name="C" value="0"></label><br>
            <label for="data_science">Data Science:</label><br>
            <input type="text" id="data_science" name="data_science" value="0"></label><br><br>
            <input type="submit" value="Submit"></label><br>

        </form>
    </body>
</html>